.window
{
    width: 700px;
    height: 85vh; 
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.button
{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    padding-top: 100px;
}