<div class="p-2">
  <h4 class="fs-3 fw-heavy pt-2"><img src="../../assets/fan/custom_fan.svg" class="align-text-middle px-2">Custom Fan
    Curves</h4>
</div>
<div class="window">
  <div class="button p-1 pt-0 ps-2 pe-0 h-50 position-relative">
    <app-button [button_label]="'Fan Curves'" [button_class]="'fan_custom fs-4 fw-normal lh-sm' + ' ' + curves"
      routerLink="fan_curves" (click)="fan_curves()"></app-button>
    <app-button [button_label]="'Profiles'" [button_class]="'fan_custom fs-4 fw-normal lh-sm' + ' ' + profile"
      routerLink="fan_profiles" (click)="fan_profile()"></app-button>
    <app-button [button_label]="'Data'" [button_class]="'fan_custom fs-4 fw-normal lh-sm' + ' ' + data"
      routerLink="fan_data" (click)="fan_data()"></app-button>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>