
.form-select
{
    height: 50px;
    width: 585px;
    left: 8px;
}
.information_box
{
    height: 200px;
}
.box{
    white-space: pre;
}
.diagnostic_button_format
{
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}