
<div class="text-center p-3 pb-2">
    <h4 class="fs-3">Diagnostics</h4>
</div>
<div class="diagnostics px-1">
    <div class="buttons h-100 w-100 p-1 pt-0 pb-0">
        <select (click)="select($event)" class="form-select text-white border-0 fs-4 pt-1 bg-secondary w-100 rounded-3"
            aria-label="Default select example" #dropdown>
            <option selected>Select</option>
            <option value="Boot Timestraps" [disabled]="disabled">
                Boot Timestraps
            </option>
            <option value="Coreboot Log" [disabled]="disabled">Coreboot Log</option>
            <option value="Coreboot Extended Log" [disabled]="disabled">
                Coreboot Extended Log
            </option>
            <option value="Battery Information">Battery Information</option>
            <option value="EC Console Log">EC Console Log</option>
            <option value="EC Chip Information">EC Chip Information</option>
            <option value="SPI Information">SPI Information</option>
            <option value="EC Protocol Information">EC Protocol Information</option>
            <option value="Temperature Sensor Information">
                Temperature Sensor Information
            </option>
            <option value="Power Delivery Information">
                Power Delivery Information
            </option>
        </select>
        <div>
            <app-button (click)="get_info($event)" [button_label]="'Generate Report'"
                [button_class]="'fan_custom generate_class fs-4 fw-normal lh-sm h-25'"></app-button>
                </div>
                <div class="button2">
            <app-button (click)="save()" [button_label]="'Save to Files'"
                [button_class]="'fan_custom fs-4 fw-normal lh-sm h-75'"></app-button>
        </div>
    </div>
    <div class="p-1 m-2 mt-0 mb-0 pb-1 rounded-3 overflow-auto bg-light">
        <app-button (click)="copy_to_clipboard()" [svg]="'../../assets/diagnostics/copy.svg'"
            [button_class]="'copy_button position-absolute'" [svg_class]="'copy_svg'"></app-button>
        <div class="box fs-4 font-monospace m-2">
            <span>{{ collected_info }}</span>
        </div>
    </div>
</div>