.diagnostics
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 350px;
}
.buttons
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    row-gap: 10px;
}

.information_box
{
    height: 350px;
}
.box{
    white-space: pre;
}