.dashboard .dash-content {
	padding-top: 30px;
}
.dash-content .title {
	align-items: center;
	margin: 60px 0 30px;
}
.dash-content .title .text {
	font-size: 24px;
	font-weight: 500;
	color: var(--text-color);
	margin-left: 10px;
}
.dash-content .boxes {
	display: inline-grid;
	width: 100%;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.dash-content .boxes .box {
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	padding: 15px 20px;
	transition: var(--tran-05);
}
.boxes .box.cpuLoad, .dash-content .boxes .box {
	background-color: var(--box1-color);
}
.boxes .box.cpuTemps {
	background-color: var(--box2-color);
}
.boxes .box.ram {
	background-color: var(--box3-color);
}
.dash-content .overview .systemInfo {
	width: calc(100% - 15px);
	font-weight: 400;
	font-size: 15;
	background-color: var(--systeminfo-color);
	transition: var(--tran-05);
	top: 40px;
	border-radius: 20px;
	z-index: 5;
}
.dash-content .overview .systemInfoText {
	padding: 20px;
}
.dash-content.boxes.fanSpeed {
	background-color: var(--box4-color);
}
.boxes .box .text {
	white-space: nowrap;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}
.hiddentext {
	display: none;
}
.boxes .box.tempCPU {
	background-color: var(--box5-color);
}
.boxes .box.fanSpeed {
	background-color: var(--box4-color);
}
.boxes .box.hidden {
	background-color: var(--panel-color);
	display: none;
}