
button {
  all: unset;
  background-color: #262525;
}
.button:hover
{
  border-color: #ff8a57;
}
.fan_auto:hover {
  border-color: #5cecc0 !important;
}
.fan_off:hover {
  border-color: #fdda0d !important;
}
.fan_max:hover {
  border-color: #ee4b2b !important;
}
.fan_custom:hover {
  border-color: #ff8a57 !important;
}
.fan_auto_selected {
  border-color: #5cecc0 !important;
}
.fan_off_selected {
  border-color: #fdda0d !important;
}
.fan_max_selected {
  border-color: #ee4b2b !important;
}
.fan_custom_selected {
  border-color: #ff8a57 !important;
}
.keyboard_custom_button{
  height: 20px !important;
}
.keyboard_img
{
  bottom: 4px;
}
.copy_button
{
  width: 30px !important;
  height: 30px !important;
  background-color: rgba(0, 0, 0, 0.2) !important; 
  right: 13px;
  top: 113px;
}
.copy_svg
{
  padding-top: 0;
}
.copy_button:hover
{
  background-color: #1e1d1d !important;
}

.disabled:hover
{
  border-color: #262525 !important;
}
