
button {
  all: unset;
  background-color: #262525;
  color: #fff;
  border-width: 0.5px;
  border-color: #262525;
  border-radius: 8px;
  text-align: center;
  border-style: solid;
  width: 100%;
  height: 100%;
}
button:hover
{
  border-color: #ff8a57;
}
.fan_auto:hover {
  border-color: #5cecc0;
}
.fan_off:hover {
  border-color: #fdda0d;
}
.fan_max:hover {
  border-color: #ee4b2b;
}
.fan_auto_selected {
  border-color: #5cecc0;
}
.fan_off_selected {
  border-color: #fdda0d;
}
.fan_max_selected {
  border-color: #ee4b2b;
}
.fan_custom_selected {
  border-color: #ff8a57;
}
.keyboard_custom_button{
  height: 20px;
}
.button_img {
  padding-top: 15px;
}
.keyboard_img
{
  position: relative;
  bottom: 19px;
}
.extra_section_svg
{
  padding-bottom: 10px;
}
.copy_button
{
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 13px;
  top: 110px

}
.copy_svg
{
  padding-top: 0;
}
.copy_button:hover
{
  background-color: #1e1d1d;
}
.diagnostic_img
{
  padding-bottom: 10px;
}

.disabled
{
  filter: brightness(0.8);
}
.disabled:hover
{
  border-color: #262525;
}
