.activity_light {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 10px;
}
.font {
  font-weight: 100;
  font-size: 14px;
}
.activity_light_title::before{
    display: inline-block;
    content: url(../../../assets/activity_light/activity.svg);
    padding-right: 10px;
    vertical-align: middle;
}
.activity_light_title
{
    padding-left: 10px;
}
.form-select
{
    background-color: #2e2e30;
    color: #fff;
    border: 0;
    height: 50px;
    width: 95%;
    position: relative;
    left: 8px;
    font-size: 14px;
}
.mode_alignment {
    padding-top: 8px;
  }
