<div [class]="class">
  <div class="activity_light grid">
    <h4 class="font activity_light_title">Dell Activity Light</h4>
    <h4 class="font mode_alignment">
      Color: <span>{{activity_light_color}}</span>
    </h4>
  </div>

  <select (click)="update_color($event)" class="form-select" [disabled]="disabled">
    <option selected>Select A Color</option>
    <option value="Off">Off</option>
    <option value="Red">Red</option>
    <option value="Green">Green</option>
    <option value="Blue">Blue</option>
    <option value="White">White</option>
    <option value="Cyan">Cyan</option>
    <option value="Magenta">Magenta</option>
    <option value="Yellow">Yellow</option>
  </select>
</div>