@import "../node_modules/bootstrap/scss/functions";

// Include any default variable overrides here

$primary: #363639;
$secondary: #2e2e30;
$light: #363639;
$dark: #262525;
$line-height-sm: 0px;

$h3-font-size: 16px;
$h4-font-size: 14px;
$h5-font-size: 12px;
$h6-font-size: 10px;
$border-color: #262525;

$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Include any default map overrides here

$position-values: (
  0: 0,
  10px: 10px,
  50: 50%,
  100: 100%,
);

$table-variants: (
  "primary": shift-color($primary, $table-bg-scale),
  "secondary": shift-color($secondary, $table-bg-scale),
  "success": shift-color($success, $table-bg-scale),
  "info": shift-color($info, $table-bg-scale),
  "warning": shift-color($warning, $table-bg-scale),
  "danger": shift-color($danger, $table-bg-scale),
  "light": $light,
  "dark": #363639,
);

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optionals: Remove whats not required later
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
//@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

// All custom CSS below
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css");

html,
body {
  box-sizing: border-box;
  height: 100vh;
  height: -webkit-fill-avaliable;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Open sans", sans-serif, "Bootstrap-icons";
  font-weight: 300;
  background-color: #181819;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  font-style: normal;
  -webkit-user-select: none;
  overflow: hidden;
  color-scheme: dark;
}

.btn-outline-success {
  --bs-btn-color: #fff;
  --bs-btn-color-disabled: #fff;
}

.btn-outline-warning {
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #daa520;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #daa520;
}

.btn-outline-danger {
  --bs-btn-color: #fff;
}

.btn-outline-info {
  --bs-btn-color: #fff;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #343434;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #71797e;
}

.btn-outline-info-custom {
  --bs-btn-hover-bg: #4169e1;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4169e1;
}

.btn-outline-light {
  --bs-btn-hover-bg: rgb(255, 255, 255, 0.2);
}


.btn {
  --bs-btn-bg: #262525;
}

.table-dark {
  --bs-table-bg: #262525;
}
