.container2 {
  display: grid;
  grid-template-rows: 1fr 10fr;
}
.options {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 39vw;
  height: 75% !important;
  max-height: 80vh;
}
