.container2 {
  display: grid;
  grid-template-rows: 1fr 10fr;
}
.options {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
}
.button3 {
}
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 40vw;
  height: 75% !important;
}
