@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  background-color: #181819;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  user-select: none;
	-webkit-user-select: none;
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.body {
  padding: 0;
  margin-top: 0;
}

button {
  all: unset;
  background-color: #262525;
  color: #fff;
  border-radius: 8px;
  border-width: 1px;
  justify-content: center;
  text-align: center;
  border-style: solid;
}
.button_img {
  padding-top: 15px;
}

