<div class="fan_text">
  <h4 class="fan_title fan_info" [class]="fan_class">Fan - <span id="selected_mode">{{selected_mode}}</span></h4>
  <h4 class="fan_info fan_center_text">CPU: <span id="temp">0</span> °C</h4>
  <h4 class="fan_info fan_center_text" [class]="fan_class">Fan: <span id="fanRPM">0</span> {{extension}}</h4>
</div>
<div class="button_format" [class]="fan_class">
  <app-button
    (click)="fan_auto()"
    [button_label]="'Auto'"
    [button_class]="'fan_auto' + ' ' + fan_class"
    [svg]="'../assets/fan/leaf.svg'"
    [disabled_state]="fan_exists"
    id="fan"
  ></app-button>
  <app-button
    (click)="fan_off()"
    [button_label]="'Off'"
    [button_class]="'fan_off' + ' ' + fan_class"
    [svg]="'../assets/fan/bicycle.svg'"
    [disabled_state]="fan_exists"
    id="fan"
  ></app-button>
  <app-button
    (click)="fan_max()"
    [button_label]="'Max'"
    [button_class]="'fan_max' + ' ' + fan_class"
    [svg]="'../assets/fan/rocket.svg'"
    [disabled_state]="fan_exists"
    id="fan"
  ></app-button>
  <app-button
    (click)="open_fan_custom_window()"
    [button_label]="'Custom'"
    [button_class]="'fan_custom'+ ' ' + fan_class"
    [svg]="'../assets/fan/wrench.svg'"
    [disabled_state]="fan_exists"
    id="fan"
  ></app-button>
</div>
