
.fan_text { 
  grid-template-columns: 4.5fr 2.5fr 3.1fr;
  column-gap: 0;
}

.button_format {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}
.disable
{
  filter: brightness(0.8);
  color: white !important;
}