name: "Linux"

on:
  push:
    branches: ["3.X.X"]
  workflow_dispatch:
  pull_request:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            dpkg-dev fakeroot \
            libwebkit2gtk-4.1-0 \
            libwebkit2gtk-4.1-dev \
            libjavascriptcoregtk-4.1-0 \
            libjavascriptcoregtk-4.1-dev \
            gir1.2-javascriptcoregtk-4.1 \
            gir1.2-webkit2-4.1 \
            build-essential \
            curl wget file \
            libxdo-dev libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev desktop-file-utils libudev-dev \
            rpm

      - name: Install npm dependencies
        run: npm install

      - name: build tauri app
        run: |
          pwd
          npm run tauri build
          mkdir -p src-tauri/target/release/bundle/arch
          ls -R src-tauri/target/release
          cp src-tauri/target/release/bundle/deb/*.deb src-tauri/target/release/bundle/arch
          cp src-tauri/tauri.conf.json src-tauri/target/release/bundle/arch
      - name: Make Arch Package Files
        run: |
          docker run --rm -v ${{ github.workspace }}:/work -w /work archlinux:base-devel bash -c "
            pacman -Sy --noconfirm curl git base-devel &&
            useradd -m builduser &&
            echo 'builduser ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers &&
            chown -R builduser:builduser /work &&
            su - builduser -c '
              curl https://sh.rustup.rs -sSf | bash -s -- -y &&
              source \$HOME/.cargo/env &&
              cd /work/src-tauri &&
              cp -r arch/* target/release/bundle/arch/ &&
              cd target/release/bundle/arch &&
              makepkg -sf --noconfirm
            '
          "


      - name: Upload Linux packages to GitHub Draft Release
        uses: softprops/action-gh-release@v2
        with:
          name: "draft_release"
          tag_name: v__VERSION__
          draft: true
          update_draft: true
          files: |
            src-tauri/target/release/bundle/deb/*.deb
            src-tauri/target/release/bundle/rpm/*.rpm
            src-tauri/target/release/bundle/appimage/*.tar.gz
            src-tauri/target/release/bundle/arch/*.pkg.tar.zst
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


