name: "Linux"

on:
  push:
    branches: ["3.X.X"]
  workflow_dispatch:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install build dependencies
        run: |
          sudo apt update -y
          sudo apt install -y \
            libwebkit2gtk-4.1-0=2.44.0-2 \
            libwebkit2gtk-4.1-dev=2.44.0-2 \
            libjavascriptcoregtk-4.1-0=2.44.0-2 \
            libjavascriptcoregtk-4.1-dev=2.44.0-2 \
            gir1.2-javascriptcoregtk-4.1=2.44.0-2 \
            gir1.2-webkit2-4.1=2.44.0-2 \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            desktop-file-utils \
            libudev-dev \
            docker

      - name: Install npm dependencies
        run: npm install

      - name: Download assets
        run: |
          mkdir -p src-tauri/assets
          curl -L https://files.tree123.org/utils/x86_64/gnu/ectool -o src-tauri/assets/ectool
          curl -L https://files.tree123.org/utils/x86_64/gnu/cbmem -o src-tauri/assets/cbmem
          chmod a+x src-tauri/assets/ectool
          chmod a+x src-tauri/assets/cbmem

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: "v__VERSION__"
          releaseBody: "See the assets to download this version and install."
          releaseDraft: true
          prerelease: false

      - name: Extract PKGBUILD (AUR)
        run: |
          cd src-tauri
          cargo tauri dev extract --bundler deb --target arch

      - name: Build .pkg.tar.zst in Arch Docker
        run: |
          docker run --rm -v ${{ github.workspace }}/src-tauri/target/release/bundle/arch:/build -w /build archlinux:base-devel bash -c "
            pacman -Sy --noconfirm base-devel git &&
            useradd -m builder &&
            echo 'builder ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers &&
            chown -R builder /build &&
            su builder -c 'makepkg -f --noconfirm'
          "

      - name: Upload AUR Package to Release
        uses: softprops/action-gh-release@v1
        with:
          files: src-tauri/target/release/bundle/arch/*.pkg.tar.zst
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
