<div class="dashboard p-relative">
<div class="dash-content">
    <div class="overview">
        <div class="title d-flex">
            <img src="../../assets/settings/settings-page.svg"> <span class="text">Settings</span>
        </div>
        <div class="settings">
            <label class="switch startupFan center p-relative" id="startupFan"><input id="startupFansInput" type="checkbox"> <span class="slider p-absolute round"></span></label> <label class="switch closeToTray center p-relative" id="systemTray"><input id="systemTrayInput" type="checkbox"> <span class="slider p-absolute round"></span></label> <label class="switch startInTray center p-relative" id="startHiddenButton"><input id="startHiddenInput" type="checkbox"> <span class="slider p-absolute round"></span></label> <label class="switch startBoot center p-relative" id="startOnBootButton"><input id="startOnBootInput" type="checkbox"> <span class="slider p-absolute round"></span></label>
            <h3 class="startupFanText lines">Start Custom Fan Curves On App Startup</h3>
            <h3 class="closeToTrayText lines">When Closed, App Minimizes To System Tray</h3>
            <h3 class="startInTrayText lines" id="startHidden">Start App In System Tray</h3>
            <h3 class="startBootText lines" id="startOnBoot">Start App On Boot</h3>
        </div>
    </div>
</div>
</div> 