<div class="settings_text">
    <h4 class="settings_title">Settings</h4>
</div>
<div class="settings_format">
    <div *ngFor="let item of items; let i = index">
    <div class="form-check form-switch form-check-reverse">
        <label class="form-check-label" for="flexSwitchCheckDefault">{{item.function}}</label>
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="item.answer" (click)="toggle(i)">
    </div>
    <hr>
</div>
</div>
<div class="settings_info">
    <h4 class="version_info">Chrultrabook Tools Version {{version_applied}}</h4>
</div>