
.settings_title
{
    font-size: 16px;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
}

.settings_format
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}