.table-wrapper {
  max-height: 70vh;
  top: .5rem;
  overflow-y: auto;
}

.transparent {
  border: none !important;
  background-color: transparent !important;
}

.transparent::placeholder {
  color: #fff;
}

.edit {
  border: none !important;
}

.edit::placeholder {
  color: #a9a9ac !important;
}